<nav class="navbar">
  <div class="logo" routerLink="/">
    <div class="image-container">
      <img class="image" ngSrc="../assets/GPI-ICON.png" alt="LOGO" fill />
    </div>
  </div>

  <ul class="navbar-nav">
    @for(route of ['home']; track $index){
      <li class="nav-item">
        <a routerLink="{{ route }}"
          routerLinkActive
           #rla="routerLinkActive"
            [class.active]="rla.isActive"
        >
          <i class="material-symbols-outlined icon">{{ route | titlecase }}</i>
        </a>
      </li>
    }
  </ul>
</nav>

<header class="header">
  <div class="ambient">
    <h1 class="envrionment_label" routerLink="/">
      Stato Pronto Soccorso
    </h1>
  </div>
</header>

<main class="main">
    <p-messages key="globalMessageService" class="message-box"></p-messages>
    <router-outlet></router-outlet>
</main>
